body{
    margin:0;
    text-align: center;
    font-family:sans-serif;
 
 
}

h1{
    margin:0;
    
}

.top-con{
    
    background-color: azure; 
   

}


.mid-con{
    
    position: relative;
    
   
}

.underline{
    text-decoration: underline;
    font-style:italic;
}


.noface1{
   
    position: relative;
    padding: 10px 0px 50px 10px;
    top: 10px;


}

.noface2{
    position: absolute;
    left: 300px;
    bottom: 350px;
    
}
.images1{
    position: absolute;
    right: 300px;
    bottom: 350px;
}


hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(248, 162, 130);
    border-width: 5px;
    width:5%;  
}


.images2{
    position: static;


}

.name{
    font-family: Dancing Script ;
}